{% extends 'base.html.twig' %}

{% block content %}
    {% block content_heading %}<h1 class="mtn">{% trans %}Test Plugin{% endtrans %}</h1>{% endblock %}

    {% include '_components/flash_messages.html.twig' %}

    <div class="row bounded-width">
        <div class="col-md-12 col-lg-12">

        </div>
    </div>
{% endblock %}

